*.sln
*.filters
*.ipch
*.db
*.idb
*.vcxproj
*.h
*.tlog
Codility Lessons/CodilityLesson1/pch.cpp
Codility Lessons/CodilityLesson2B/pch.cpp
Codility Lessons/CodilityLesson2A/pch.cpp
Codility Lessons/Lesson 01 - Iterations/BinaryGap/pch.cpp
Codility Lessons/Lesson 02 - Arrays/CyclicRotation/pch.cpp
Codility Lessons/Lesson 02 - Arrays/OddOccurencesInArray/pch.cpp
Codility Lessons/Lesson 03 - Time Complexity/PermMissingElem/pch.cpp
Codility Lessons/Lesson 03 - Time Complexity/FrogJmp/pch.cpp
Codility Lessons/Lesson 03 - Time Complexity/TapeEquilibrium/pch.cpp
Codility Lessons/Lesson 04 - Counting Elements/FrogRiverOne/FrogRiverOne/pch.cpp
Codility Lessons/Lesson 04 - Counting Elements/MaxCounters/MaxCounters/pch.cpp
Codility Lessons/Lesson 04 - Counting Elements/MissingInteger/MissingInteger/pch.cpp
Codility Lessons/Lesson 04 - Counting Elements/PermCheck/PermCheck/pch.cpp
Codility-Lessons/Lesson 01 - Iterations/BinaryGap/pch.cpp
Codility-Lessons/Lesson 02 - Arrays/CyclicRotation/pch.cpp
Codility-Lessons/Lesson 02 - Arrays/OddOccurencesInArray/pch.cpp
Codility-Lessons/Lesson 03 - Time Complexity/TapeEquilibrium/pch.cpp
Codility-Lessons/Lesson 03 - Time Complexity/PermMissingElem/pch.cpp
Codility-Lessons/Lesson 03 - Time Complexity/FrogJmp/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/PermCheck/PermCheck/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/MissingInteger/MissingInteger/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/FrogRiverOne/FrogRiverOne/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/MaxCounters/MaxCounters/pch.cpp
*.opendb
Codility-Lessons/Lesson 05 - Prefix Sums/CountDiv/CountDiv/pch.cpp
Codility-Lessons/Lesson 05 - Prefix Sums/PassingCars/PassingCars/pch.cpp
Codility-Lessons/Lesson 05 - Prefix Sums/GenomicRangeQuery/GenomicRangeQuery/GenomicRangeQuery/pch.cpp
Codility-Lessons/Lesson 06 - Sorting/Distinct/Distinct/pch.cpp
Codility-Lessons/Lesson 06 - Sorting/MaxProductOfThree/MaxProductOfThree/pch.cpp
Codility-Lessons/Lesson 06 - Sorting/Triangle/Triangle/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/Nesting/Nesting/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/StoneWall/StoneWall/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/Fish/Fish/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/Brackets/Brackets/pch.cpp
Codility-Lessons/Lesson 08 - Leader/EquiLeader/EquiLeader/pch.cpp
Codility-Lessons/Lesson 08 - Leader/Dominator/Dominator/pch.cpp
Codility-Lessons/Lesson 09 - Maximum slice problem/MaxSliceSum/MaxSliceSum/pch.cpp
Codility-Lessons/Lesson 09 - Maximum slice problem/MaxProfit/MaxProfit/pch.cpp
Codility-Lessons/Lesson 10 - Prime and composite numbers/MinPerimeterRectangle/MinPerimeterRectangle/pch.cpp
Codility-Lessons/Lesson 10 - Prime and composite numbers/CountFactors/CountFactors/pch.cpp
Codility-Lessons/Lesson 12 - Euclidean algorithm/ChocolatesByNumbers/ChocolatesByNumbers/pch.cpp
Codility-Lessons/Lesson 15 - Caterpillar method/CountTriangles/CountTriangles/pch.cpp
Codility-Lessons/Lesson 15 - Caterpillar method/AbsDistinct/AbsDistinct/pch.cpp
Codility-Lessons/Lesson 15 - Caterpillar method/CountDistinctSlices/CountDistinctSlices/pch.cpp
Codility-Lessons/Lesson 16 - Greedy  algorithms/MaxNonoverlappingSegments/MaxNonoverlappingSegments/pch.cpp
Codility-Lessons/Lesson 16 - Greedy  algorithms/TieRopes/TieRopes/pch.cpp
Codility-Lessons/Lesson 17 - Dynamic programming/NumberSolitaire/NumberSolitaire/pch.cpp
Codility-Lessons/Lesson 15 - Caterpillar method/AbsDistinct/pch.cpp
Codility-Lessons/Lesson 12 - Euclidean algorithm/ChocolatesByNumbers/pch.cpp
Codility-Lessons/Lesson 10 - Prime and composite numbers/MinPerimeterRectangle/pch.cpp
Codility-Lessons/Lesson 10 - Prime and composite numbers/CountFactors/pch.cpp
Codility-Lessons/Lesson 17 - Dynamic programming/NumberSolitaire/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/PermCheck/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/MissingInteger/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/MaxCounters/pch.cpp
Codility-Lessons/Lesson 04 - Counting Elements/FrogRiverOne/pch.cpp
Codility-Lessons/Lesson 06 - Sorting/MaxProductOfThree/pch.cpp
Codility-Lessons/Lesson 06 - Sorting/Distinct/pch.cpp
Codility-Lessons/Lesson 05 - Prefix Sums/PassingCars/pch.cpp
Codility-Lessons/Lesson 05 - Prefix Sums/GenomicRangeQuery/pch.cpp
Codility-Lessons/Lesson 05 - Prefix Sums/CountDiv/pch.cpp
Codility-Lessons/Lesson 09 - Maximum slice problem/MaxSliceSum/pch.cpp
Codility-Lessons/Lesson 09 - Maximum slice problem/MaxProfit/pch.cpp
Codility-Lessons/Lesson 08 - Leader/EquiLeader/pch.cpp
Codility-Lessons/Lesson 08 - Leader/Dominator/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/StoneWall/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/Brackets/pch.cpp
Codility-Lessons/Lesson 06 - Sorting/Triangle/pch.cpp
Codility-Lessons/Lesson 16 - Greedy  algorithms/TieRopes/pch.cpp
Codility-Lessons/Lesson 16 - Greedy  algorithms/MaxNonoverlappingSegments/pch.cpp
Codility-Lessons/Lesson 15 - Caterpillar method/CountTriangles/pch.cpp
Codility-Lessons/Lesson 15 - Caterpillar method/CountDistinctSlices/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/Nesting/pch.cpp
Codility-Lessons/Lesson 07 - Stacks and Queues/Fish/pch.cpp
Codility-Lessons/Lesson 05 - Prefix Sums/MinAvgTwoSlice/pch.cpp
